[submodule "libraries/SmtpClient-for-Qt"]
	path = libraries/SmtpClient-for-Qt
	url = https://github.com/bluetiger9/SmtpClient-for-Qt.git
[submodule "libraries/Bcryptcpp"]
	path = libraries/Bcryptcpp
	url = https://github.com/Dizarc/Bcryptcpp.git
